<div class="container mt-4">
  <h2>Dashboard</h2>
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <div class="row" *ngIf="!error">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">Projects</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let project of projects">
              {{ project.name }} - {{ project.description }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">Tasks</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let task of tasks">
              {{ task.name }} - {{ task.status }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">Team</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let member of team">
              {{ member.name }} - {{ member.role }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
